:root{
    --text2-color: #000;
    --text-color: #212121;
    --підпис-color: #757575;
    --footer-color: #2F303A;
    --почта-color: #2196F3;
    --main-color: #ffffff;
    --main2-color: #F5F4FA;
}
/*Header*/
.header {
    background-color: var(--main-color);
}
.header-title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.78px;
}
.header-list {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header--list {
    color: var(--почта-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-list {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-gmail {
    color: var(--почта-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-num {
    color: var(--підпис-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

/*Projects Section*/
.projects {
    background: var(--main-color);
}
.projects--nav {
    background-color: var(--почта-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}
.projects-nav {
    border-radius: 4px;
    background: var(--main2-color);
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62; 
    letter-spacing: 0.48px;
}
.projects-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.projets-link {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}
.projets-text {
    color: var(--підпис-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; 
    letter-spacing: 0.48px;
}
/*Footer*/
.footer {
    background: #2F303A;
}
.footer-title {
    color: var(--main-color); 
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-maps {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-gmail {
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}
.footer-num {
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}
