
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
body{
    font-family: "Roboto" sans-serif;
}
/*Header*/
.header {
    background: var(--main-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header_border-color);
}
.header-web{
    color: var(--почта-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    font-family: "Raleway", sans-serif;
}
.header .container{
    display: flex;
    align-items: center;
}
.header-title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color: var(--logo-color);
    margin-right: 93px;

}
.header-link {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover {
    color: var(--почта-color);
}
.header-icon{
    fill: var(--підпис-color);
    transition-property: width,height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:nth-of-type(1){
    .header-icon{
        width: 16px;
        height: 12px;
    }
}
.header-item:nth-of-type(2){
    .header-icon{
        width: 10px;
        height: 16px;   
    }
}
.header-contact:hover {
    color: var(--почта-color);
    .header-icon{
        fill: var(--почта-color);
    }
}
.active{
    color: var(--почта-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .active::after{
    height: 4px;
    border-radius: 2px;
    background: var(--почта-color);
    position: absolute;
    content: "";
    bottom: -35px;
    left: 0;
    transform: scale(0, 0);
    transition-property: transform,width,height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
} 
.active:hover::after{
    transform: scale(1, 1);
}
.header-contacts{
    display: flex;
    gap: 50px;
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-contact{
    color: var(--підпис-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    gap: 10px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover {
    color: var(--почта-color);
    .header-icon{
        fill: var(--почта-color);
    }
}
/*Projects Section*/
/*Footer*/
.footer-web{
    color: var(--почта-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.footer-web{
    color: var(--посилання-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer {
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-list{
    margin-top: 20px;
}
.footer-item{
    margin-bottom: 9px;
    height: 21px;
    width: 231px;
}
.footer-Web {
    color: var(--почта-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-title {
    color: var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-maps {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-contacts {
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-location{
    margin-right: 70px;
}
.footer-list{
    margin-top: 20px;
}
.footer-item{
    margin-bottom: 9px;
    height: 21px;
    width: 231px;
}
.footer-Web {
    color: var(--почта-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-title {
    color: var(--main-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-maps {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-social{
    margin-right: 93px;
}
.footer-title-2{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-list-2{
    display: flex;
    gap: 10px;
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover{
    background-color: var(--почта-color);
}
.footer-icon{
    width: 20px;
    height: 20px;
    fill: var(--main-color);
}
.footer-captitle{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-form{
    display: flex;
    margin-top: 20px;
    gap: 12px;
}
.footer-input{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; /* 125% */
    letter-spacing: 0.48px;
    display: flex;
    width: 47px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 295px 15px 16px;
}
.footer-button{
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9; /* 187.5% */
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--почта-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.footer-plane{
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}