* {
    list-style: none;
    text-decoration: none;
}
.header-studia{
    color: #2196F3;
}
.header-email{
    color: #2196F3;
}
.section1-p{
    color: #757575;
}
.footer-a12{
    color: #757575;
}
