:root {
    --посилання-color: #2196F3;
    --text-color: #757575;
    --text2-color: #212121;
    --section1-color: #2F303A;
    --section4-color: #F5F4FA;
    --main-color: #ffffff;
    --logo-color: #000;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
/*header*/
.header {
    background: var(--main-color);
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-web{
    color: var(--посилання-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.header .container{
    display: flex;
    align-items: center;
}
.header-title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color: var(--logo-color);
    margin-right: 93px;

}
.header-link {
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-link:hover {
    color: var(--посилання-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-contacts{
    display: flex;
    gap: 50px;
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-contact{
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-contact:hover {
    color: var(--посилання-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
/*hero*/
.hero {
    background: var(--section1-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    width: 696px;
    flex-shrink: 0;
    color: var(--main-color);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
}
.hero-button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--посилання-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}
/*advantages*/
.advantages {
    background: var(--main-color);
    padding-top: 94px;
}
.advantages-title {
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}
/*work*/
.work {
    background: var(--main-color);
    padding-top: 118px;
    padding-bottom: 94px;
}
.work-title {
    color: var(--text2-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.work-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.work-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.work-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
/*team*/
.team {
    background: var(--section4-color);
    padding-top: 94px;
    padding-bottom: 124px;
}
.team-title {
    color: var(--text2-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}
.team-name {
    color: var(--text2-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-text {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
/*footer*/
.footer {
    background: var(--section1-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-title {
    color: var(--main-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-maps {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-gmail {
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.footer-num {
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}