:root {
    --посилання-color: #2196F3;
    --text-color: #757575;
    --text2-color: #212121;
    --section1-color: #2F303A;
    --section4-color: #F5F4FA;
    --main-color: #ffffff;
}
*{
    text-decoration: none;
    list-style: none;
}
/*header*/
.header {
    background: #FFF;
}
.header-title {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;

}
.header-nav-a1 {
    color: #2196F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-nav-a2 {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-nav-a3 {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-gmail {
    color: #2196F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-num {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
/*hero*/
.hero {
    background: #2F303A;
}
.hero-title {
    width: 696px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}
/*advantages*/
.advantages {
    background: #FFF;
}
.advantages-title-1 {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text-1 {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}
.advantages-title-2 {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text-2 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}
.advantages-title-3 {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text-3 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}
.advantages-title-4 {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text-4 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}
/*work*/
.work {
    background: #FFF;
}
.work-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.work-img-1 {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.work-img-2 {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.work-img-3 {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
/*team*/
.team {
    background: #F5F4FA;
}
.team-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.team-img-1 {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}
.team-name-1 {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-text-1 {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-img-2 {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}
.team-name-2 {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-text-2 {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-img-3 {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}
.team-name-3 {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-text-3 {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-img-4 {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}
.team-name-4 {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-text-4 {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
/*footer*/
.footer {
    background: #2F303A;
}
.footer-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-maps {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-gmail {
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.footer-num {
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}