:root {
    --посилання-color: #2196F3;
    --text-color: #757575;
    --text2-color: #212121;
    --section1-color: #2F303A;
    --section4-color: #F5F4FA;
    --main-color: #ffffff;
    --logo-color: #000;
    --header_border-color: #ECECEC;
    --client-color: #AFB1B8;
    --poswork-color: rgba(47, 48, 58, 0.80);
    --backdrop-color: rgba(0, 0, 0, 0.20);
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
body{
    font-family: "Roboto", sans-serif;
}
/*header*/
.header {
    background: var(--main-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header_border-color);
}
.header-web{
    color: var(--посилання-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    font-family: "Raleway", sans-serif;
}
.header .container{
    display: flex;
    align-items: center;
}
.header-title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color: var(--logo-color);
    margin-right: 93px;

}
.header-link {
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;
}
.header-link:hover {
    color: var(--посилання-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-icon{
        fill: var(--text-color);
}
.header-item:nth-of-type(1){
    .header-icon{
        width: 16px;
        height: 12px;
    }
}
.header-item:nth-of-type(2){
    .header-icon{
        width: 10px;
        height: 16px;   
    }
}
.active{
    color: var(--посилання-color);
}
 .active::after{
    height: 4px;
    border-radius: 2px;
    background: var(--посилання-color);
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
} 
.active:hover::after{
    width: 100%;
}
.header-contacts{
    display: flex;
    gap: 50px;
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-contact{
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.header-contact:hover {
    color: var(--посилання-color);
    .header-icon{
        fill: var(--посилання-color);
    }
}
/*hero*/
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(./img/hero-backround.webp);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-title {
    width: 696px;
    flex-shrink: 0;
    color: var(--main-color);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.hero-button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--посилання-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}
/*advantages*/
.advantages {
    background: var(--main-color);
    padding-top: 94px;
}
.advantages-item{
    position: relative;
}

.advantages-item::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--section4-color);
    margin-bottom: 30px;
    background-image: url(./img/antenna.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.advantages-item:nth-child(2)::before{
    background-image: url(./img/clock.png);
}
.advantages-item:nth-child(3)::before{
    background-image: url(./img/diagram.png);
}
.advantages-item:nth-child(4)::before{
    background-image: url(./img/astronaut.png);
}
.advantages-list{
    display: flex;
    gap: 30px;
}
.advantages-title {
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 270px;
}
.advantages-text {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    width: 270px;
}
/*work*/
.work {
    background: var(--main-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-title {
    color: var(--text2-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.work-img {
    width: 370px;
    height: 294px;

}
.work-text{
    color: var(--main-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px; 
    background-color: var(--poswork-color);
    width: 370px;
    height: 70px;
    bottom: 0;
}
.work-list{
    display: flex;
    gap: 30px;
}
.work-item{
    position: relative;
}
/*team*/
.team {
    background: var(--section4-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list{
    display: flex;
    gap: 30px;
}
.team-title {
    color: var(--text2-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.team-img {
    width: 270px;
    height: 260px;
}
.team-member{
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    width: 270px;
}
.team-name {
    color: var(--text2-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}
.team-identity{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--main-color);
}
.team-text {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}
.team-items{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
}
.team-icon{
    fill: var(--client-color);
    width: 20px;
    height: 20px;
}
.team-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-link:hover{
    background-color: var(--посилання-color);
    .team-icon{
        fill: var(--main-color);
    }
}
/*client*/
.client{
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-title{
    color: var(--text2-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.client-list{
    display: flex;
    gap: 30px;
}
.client-link{
    border-radius: 4px;
    border: 1px solid var(--client-color);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--client-color);
    width: 170px;
    height: 92px;
}
.client-link:hover{
    border: 1px solid var(--посилання-color);
    .client-icon{
        fill: var(--посилання-color);
    }
}
.client-icon{
    width: 106px;
    height: 60px;
}
/*footer*/
.footer-web{
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.footer-web{
    color: var(--посилання-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer {
    background: var(--section1-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    display: flex;
    align-items: baseline;
    gap: 70px;
}
.footer-list{
    margin-top: 20px;
}
.footer-item{
    margin-bottom: 9px;
    height: 21px;
    width: 231px;
}
.footer-Web {
    color: var(--посилання-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-title {
    color: var(--main-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-maps {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.footer-title-2{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-list-2{
    display: flex;
    gap: 10px;
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.footer-link:hover{
    background-color: var(--посилання-color);
}
.footer-icon{
    width: 20px;
    height: 20px;
    fill: var(--main-color);
}
.footer-captitle{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-form{
    display: flex;
    margin-top: 20px;
    gap: 12px;
}
.footer-input{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; /* 125% */
    letter-spacing: 0.48px;
    display: flex;
    width: 47px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 295px 15px 16px;
}
.footer-button{
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9; /* 187.5% */
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--посилання-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.footer-plane{
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}
/*модальне вікно*/
.backdrop{
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 1;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.model{
    background-color: var(--main-color);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
}

.model-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: 1px solid #E5E5E5;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
}

.model-icon{
    width: 18px;
    height: 18px;
    fill: #000;
}
.model-close:is(:hover,:focus){
    .model-icon{
        fill: var(--посилання-color);

    }
}
.model-title{
    color: var(--text2-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}
.model-label{
    font-size: 12px;
    color: #757575;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: relative;
}
.model-label-2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.model-input:is(:hover,:focus){
    border: 1px solid #2196F3;
    fill: var(--посилання-color);
}
.model-input:hover + .model-icon-2,
.model-input:focus + .model-icon-2{
    fill: var(--посилання-color);
}
.model-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
    padding-left: 42px;
}
.model-icon-2{
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 30px;
    left: 12px;
}
.model-comment{
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    margin-top: 4px;
    display: block;
    resize: none;
    border: none;
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.model-checkbox{
    width: 16px;
    height: 15px;
    accent-color: var(--посилання-color);
}
.model-comment:is(:hover,:focus){
    border: 1px solid #2196F3;
}
.model-text{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7; /* 171.429% */
    letter-spacing: 0.42px;
    margin-left: 7px;
}
.model-span{
    color: var(--посилання-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    margin-left: 5px;
}
.model-link{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9; /* 187.5% */
    letter-spacing: 0.96px;
    width: 200px;
    border-radius: 4px;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-left: 5px;
    display: block;
    margin: 0 auto;
}