$посилання-color: #2196f3;
$text-color: #757575;
$text2-color: #212121;
$footer-color: #2f303a;
$main2-color: #f5f4fa;
$logo-color: #000;
$header_border-color: #ececec;
$client-color: #afb1b8;
$poswork-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$main-color: #ffffff;
$border-color: #eee;
$poswork: rgba(255, 255, 255, 0.1);
