.advantages {
    background: var(--main-color);
    padding-top: 94px;
}
.advantages-item{
    position: relative;
}

.advantages-item::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--section4-color);
    margin-bottom: 30px;
    background-image: url(../img/antenna.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.advantages-item:nth-child(2)::before{
    background-image: url(../img/clock.png);
}
.advantages-item:nth-child(3)::before{
    background-image: url(../img/diagram.png);
}
.advantages-item:nth-child(4)::before{
    background-image: url(../img/astronaut.png);
}
.advantages-list{
    display: flex;
    gap: 30px;
}
.advantages-title {
    color: var(--text2-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 270px;
}
.advantages-text {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    width: 270px;
}