.footer {
    background: $footer-color;
    padding-top: 60px;
    padding-bottom: 60px;


    &__container{
        // display: flex;
        // align-items: baseline;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 0;
        }
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }


    &__web{
        color: $text2-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
    }


    &__location{
        margin-right: 70px;
        margin-left: 40px;
        @media screen and (min-width: 768px) {
            margin-left: 0;
        }
    }


    &__list{
        margin-top: 20px;
    }


    &__item{
        margin-bottom: 9px;
        height: 21px;
        width: 231px;
    }


    &__Web {
        color: $посилання-color;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }


    &__title {
        color: $main-color;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;

        @media screen and (min-width: 1200px) {
            font-size: 26px;
        }
    }


    &__maps {
        color: $main-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }


    &__contacts {
        color: rgba(255, 255, 255, 0.60);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }


    &__social{
        margin-right: 93px;
        margin-left: 90px;

        @media screen and (min-width: 768px) {
            margin-left: 0;
        }
    }


    &__cap{
        color: $main-color;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }


    &__wrap{
        display: flex;
        gap: 10px;
    }


    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgba(255, 255, 255, 0.10);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


    &__link:hover{
        background-color: $посилання-color;
    }


    &__icon{
        width: 20px;
        height: 20px;
        fill: $main-color;
    }

    
    &__captitle{
        color: $main-color;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    
    &__form{
        // display: flex;
        // margin-top: 20px;
        // gap: 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @media screen and (min-width: 1200px){
            flex-direction: row;
            gap: 0;
        }
    }

    
    &__input{
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25; /* 125% */
        letter-spacing: 0.48px;
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 450px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 15px 295px 15px 16px;
        
        @media screen and (min-width: 1200px){
            width: 358px;
        }
    }

    
    &__button{
        color: $main-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9; /* 187.5% */
        letter-spacing: 0.96px;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background: $посилання-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    
    &__plane{
        width: 24px;
        height: 24px;
        fill: $main-color;
    }
}
