.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(../../img/mobile/hero-mobile@1x.webp);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-size: cover;
    text-align: center;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(../../img/mobile/hero-mobile2x.webp);
}
    @media screen and (min-width:768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(../../img/tablet/hero-tablet@1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(../../img/tablet/hero-tablet@2x.webp);
}
    }
    @media screen and (min-width:1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(../../img/destop/Imghero-destop@1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40)) , url(../../img/destop/Imghero-destop@2x.webp);
}
    }


    &__title {
        width: 360px;
        flex-shrink: 0;
        color: $main-color;
        text-align: center;
        font-style: normal;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 26px;
        line-height: 1.61; /* 161.538% */
        letter-spacing: 1.56px;


        @media screen and (min-width:1200px) {
            font-size: 44px;
            line-height: 1.36; /* 136.364% */
            letter-spacing: 2.64px;
            width: 696px;
        }
    }


    &__button {
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        background: $посилання-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: $main-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;

        @media screen and (min-width:1200px) {
            width: 216px;
        }
    }
}
