.projects {
  background: $main-color;
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
  }

  &__sites {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    border-radius: 4px;
    background: $main2-color;
    color: $text3-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    display: block;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $посилання-color;
      color: $main-color;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
  }

  &__container {
    flex-basis: calc((100% - 60px) / 3);
    background: #fff;
    height: auto;
    width: 100%;
    outline: 1px solid $border-color;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
      .projects__excerpt {
        opacity: 1;
        transition-duration: 0.35s;
        overflow: visible;
        transform: translateY(0);
      }
    }
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__excerpt {
    color: $main-color;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    height: 294px;
    font-weight: 400;
    line-height: 1.6; /* 155.556% */
    letter-spacing: 0.54px;
    position: absolute;
    z-index: 1;
    padding: 63px 24px 63px 24px;
    opacity: 0;
    width: 100%;
    height: auto;
    transition-property: opacity, transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: slide;
    transform: translateY(100%);
  }

  &__img {
    width: 100%;
    height: auto;
    z-index: 0;
  }

  &__link {
    color: $text3-color;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    line-height: normal;
  }

  &__text {
    color: $text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
    margin-top: 4px;
  }

  &__identity {
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
  }
}
