.team {
  background: $main2-color;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: $text2-color;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;

    @media screen and (min-width:480px) {

    }

    @media screen and (min-width:768px) {

    }

    @media screen and (min-width:1200px) {

    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__member {
    border-radius: 0px 0px 4px 4px;
    background-color: $main-color;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  }

  &__img {
    width: 100%;
    height: auto;

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 460px;
    }

    @media screen and (min-width:768px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width:1200px) {
        width: 270px;
        height: 260px;
    }
  }

  &__identity {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $main-color;
  }

  &__name {
    color: $text2-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
  }

  &__items {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
  }

  &__icon {
    fill: $client-color;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    background-color: $посилання-color;

    .team__icon {
      fill: $main-color;
    }
  }
}
